<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="jdbc" level="OFF"/>

    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>


        <!-- Appenders -->
        <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d %5p [%c] %m%n</Pattern>
            </encoder>
        </appender>

        <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d %5p %m%n</Pattern>
            </encoder>
        </appender>

        &lt;!&ndash;Log4jdbc&ndash;&gt;
        <logger name="java.sql" level="INFO" appender-ref="console" />
        <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
        <logger name="jdbc.sqltiming" level="OFF"/>

        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>-->
