<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liz.workspace.mapper.BoardMapper">

    <!-- BoardVO -->
    <resultMap id="boardList" type="BoardVO">
        <result column="board_no" property="boardNo"/>
        <result column="category" property="category"/>
        <result column="user_name" property="userName"/>
        <result column="user_no" property="userNo"/>
        <result column="password" property="password"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="view_count" property="viewCount"/>
    </resultMap>

    <!-- fileVO -->
    <resultMap id="fileMap" type="FileVO">
        <result column="file_no" property="fileNo"/>
        <result column="file_origin_name" property="fileOriginName"/>
        <result column="file_change_name" property="fileChangeName"/>
        <result column="file_origin_path" property="fileOriginPath"/>
        <result column="file_change_path" property="fileChangePath"/>
    </resultMap>

    <!-- replyVO -->
    <resultMap id="replyMap" type="ReplyVO">
        <result column="reply_no" property="replyNo"/>
        <result column="reply_content" property="replyContent"/>
        <result column="reply_date" property="replyDate"/>
    </resultMap>

    <!--TODO: 220420 resultMap_ board+collection => fileVo -->
    <!--<resultMap id="boardDetail" type="boardDetail" >
        <collection column="board_no" property=""  resultMap="fileMap">
        </collection>
    </resultMap>&ndash;&gt;-->

    <!-- 총 게시글수 -->
    <select id="getBoardCount" resultType="int">
        SELECT count(board_no) AS count
        FROM board
        WHERE board_no > 0
    </select>

    <!-- 게시판 목록 -->
    <!--   <select id="getBoardList" resultMap="boardList">
           SELECT board_no, category, user_name, title, view_count, create_date, modify_date
           FROM board
           order by board_no desc
           LIMIT #{pageNo}, #{pageAmount}
       </select>
   -->
    <!-- 페이징 -->
    <select id="getBoardList" resultMap="boardList">
        <![CDATA[
        SELECT board_no, category, user_name, title, view_count, create_date, modify_date
        FROM board
        where board_no > 0
        order by board_no desc
        LIMIT #{startRow}, #{pageAmount}
        ]]>
    </select>

    <!-- 게시판 등록 -->
    <insert id="writeBoard" parameterType="boardVO" useGeneratedKeys="true"
            keyProperty="boardNo">
        INSERT INTO board
            (`board_no`, `category`, `user_name`, `password`, `title`, `content`)
        VALUES (#{boardNo}, #{category}, #{userName}, #{password}, #{title}, #{content})
    </insert>

    <!-- 게시판 상세보기 -->
    <select id="getBoardDetail" resultMap="boardList">
        select board_no,
               user_name,
               create_date,
               modify_date,
               category,
               title,
               view_count,
               content
        from board
        where board_no = #{boardNo}
    </select>

    <!-- 조회수 증가 -->
    <update id="updateViewCount" parameterType="int"><![CDATA[
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_no = #{boardNo}
        ]]></update>

    <!-- 글 수정 -->
    <update id="editBoard"><![CDATA[
        UPDATE board
        SET user_name=#{userName},
            password =#{password},
            title =#{title},
            content=#{content},
            modify_date= now()
        WHERE board_no = #{boardNo}
    ]]></update>

    <!--글 삭제-->
    <delete id="deleteBoard">
        DELETE
        FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <!-- 검색 참고-->
    <!--<select id="">
        select * from
        ( select
        row rn, board_no, user_name, title, view_count, create_date, modify_date
        from board
        where
        (title like '%Test%' or content like '%Test%')
        and rownum <= 20
        )
        where rn > 10;
    </select>-->

</mapper>
