<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liz.workspace.mapper.FileMapper">

    <!--파일 업로드-->
    <insert id="insertFile" parameterType="list">
        INSERT INTO file (file_id, origin_file_name, modify_file_name, origin_file_path, file_size, board_id, create_date )
        VALUES
        <foreach collection="list" item="item" separator=",">
        (#{item.fileId}, #{item.originFileName}, #{item.modifyFileName}, #{item.originFilePath}, #{item.fileSize}, #{item.boardId}, NOW() )
        </foreach>
    </insert>


    <!--파일 불러오기-->
    <select id="selectFile" parameterType="int" resultType="fileVO">
        SELECT file_id, origin_file_name, modify_file_name, origin_file_path
        FROM file
        WHERE file_id = #{fileId}
    </select>

    <!--게시글 파일 목록 불러오기 -->
    <select id="selectFileList" parameterType="int" resultType="fileVO">
        SELECT file_id, origin_file_name, modify_file_name, origin_file_path
        FROM file
        WHERE board_id = #{boardId}
    </select>


    <!--파일 삭제-->
    <delete id="deleteFile">
        DELETE
        FROM file
        WHERE board_id = #{boardId}
    </delete>

</mapper>
